

.Terms .PageLink2 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(196, 157, 50);
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.9 rem;
}
.Terms.ActivePageLink2 {
    font-weight: bold;
    color:rgb(211, 166, 41);
    font-size: 0.9 rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:-webkit-any-link {
    
    cursor: pointer;
    text-decoration: none;
}
.PageLinkMenu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    color: rgb(25, 25, 29);
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    max-width: 60px;

}
.ActivePageLinkMenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    color: rgb(25, 25, 29);
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    max-width: 60px;

}