.PageLink {

    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    color: #667;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
}

.ActivePageLink {
    font-weight: bold;
    color:#667;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.Terms .PageLink2 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(196, 157, 50);
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.9 rem;
}
.Terms.ActivePageLink2 {
    font-weight: bold;
    color:rgb(211, 166, 41);
    font-size: 0.9 rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

