div .tableView{
  display: block;
}
div .tableViewNone{
  display: none;
}
.SpareParts
{
  border: solid rgb(45, 66, 38) 1px;
  border-radius: 30px;
  padding: 3px 5px;
    background-color: #FFFFFF;
    border: 1px groove #BDB76B;
    box-sizing: border-box;
    text-align:center;
}


.SparePartsItemEven
{
  border: solid rgb(45, 66, 38);
  border-radius: 30px;
  padding: 3px 5px;
  background: #cccccc;
  border-color: silver;
}
.SparePartsItem td{
  width: min-content;
}


.SparePartsName
{
  padding: 6px 6px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-weight: bold;
  color:rgb(45, 66, 38);
}

.SparePartsItem
{
  padding: 4px 0px;
  overflow-x: auto;
}

th {
  color:rgb(45, 66, 38);
  text-align:center;
  padding: 2px 2px;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  max-width:200px;
}
tr
{
  background: linear-gradient(45deg, #b1e092 #c97aee);
}
hr{
  border-color:  rgb(166, 166, 190);
  border-width:1px;
  
}
div.flexDiv{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}