.IShopCard
{
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: bold;
  transition: 1s;
  
}
.IShopCard .itemData
{width:fit-content;
 border-width: 2px;
 background:  #faea5e;
}

.IShopCard .itemData2
{width:fit-content;
 border-width: 2px;
 background:  #ddb254;
}