 
.SpareParts
{
  border: solid rgb(45, 66, 38) 1px;
  border-radius: 30px;
  padding: 3px 5px;
  
    background-color: #FFFFFF;
    background-image: url(../Rabe_Agri_logo_transp_big.png);
    background-repeat: repeat;
    background-position: right center;
    border: 1px groove #BDB76B;
    box-sizing: border-box;

   text-align:center;
}


.SparePartsItemEven
{
  border: solid rgb(45, 66, 38);
  border-radius: 30px;
  padding: 3px 5px;
  background: #cccccc;
  border-color: silver;
   
}


.SparePartsName
{
  padding: 7px 7px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-weight: bold;
  color:rgb(45, 66, 38);
}

.SparePartsItem
{
  padding: 10px 0px;
  
  
}

th {
  color:rgb(45, 66, 38);
 
  text-align:center;
  padding: 8px 8px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  
}
tr
{
  background: linear-gradient(45deg, #b1e092 #c97aee);
  
}
hr{
  border-color:  rgb(166, 166, 190);
  border-width:thin
  
}
